*{
    margin: 0;
    padding: 0;
    user-select: none;
    background: #5675e4;
    border-color: #7289da;
}


.Head{
    text-align: center;
    font-family: fantasy;
    width: 95vw;
    height: 15vh;
    padding-top: 13vh;
   font-size: larger;
   margin-left: 2.5vw;
}

.allmatches{

    text-align: center;
    align-items: center;
}
.match1div{
    text-align: center;
    margin-top: 5vh;
    width: 100vw;
    border-radius: 10px;
    background: #7289da;
    
    padding: 0vh;
    padding-top: 2vh;
    padding-bottom: 2vh;
    padding-left: 0;
    padding-right: 0;
}


.match1btn1{
    border-radius: 5px;
    text-align: center;
    color: aliceblue;
    background: #7289da;
}

.match1btn2{
    border-radius: 5px;
    text-align: center;
    color: aliceblue;
    background: #7289da;
    font-size: xx-small;
}

.m1firstscore{
    background: #7289da;
}
.m1firstwickets{
    font-size: small;
    background: #7289da;
}
.m1firstover{
    font-size: small;
    background: #7289da;
}

.match1btn3{
    border-radius: 5px;
    text-align: center;
    color: aliceblue;
    background: #7289da;
}

.m1secondscore{
    
    background: #7289da;
}
.m1secondwickets{
    font-size: small;
    background: #7289da;
}
.m1secondover{
    font-size: small;
    background: #7289da;
}

.match1btn4{
    border-radius: 5px;
    text-align: center;
    color: aliceblue;
    background: #7289da;
    font-size: xx-small;
}

.match1btn5{
    border-radius: 5px;
    text-align: center;
    color: aliceblue;
    background: #7289da;
}

.headlinesOfComments{

    margin-top: 10px;
    font-weight: bold;
    background: #7289da;
    padding-top: 1vh;
    padding-bottom: 1vh;
    border-radius: 5px;
    width: 10vw;
    margin-left: 46vw;
}
.headlines{
    text-align: center;
    margin-top: 1vh;
    width: 60vw;
    height: 16vh;
    border-radius: 10px;
    background: #7289da;
    margin-left: 20vw;
    padding: 2vh;
    padding-left: 2vw;
    padding-right: 2vw;
    overflow-y: scroll;
}

.previousmatchdiv{
    text-align: center;
    margin-top: 5vh;
    width: 40vw;
    border-radius: 10px;
    background: #7289da;
    margin-left: 30vw;
    padding: 3vh;
    padding-left: 2vw;
    padding-right: 2vw;
}

.creators{
    margin-top: 8vh;
    background: #7289da;
}
.dil{
    color: red;
    background: #7289da;
}