
*{
    margin: 0;
    padding: 0;
    user-select: none;
    background: #5675e4;
    border-color: #7289da;
}


.Head{
    text-align: center;
    font-family: fantasy;
    width: 95vw;
    height: 15vh;
    padding-top: 13vh;
   font-size: larger;
   margin-left: 2.5vw;
}
.previousMatchesHeading{
    text-align: center;
    font-size: large;
}

.allmatches{

    text-align: center;
    align-items: center;
}
.match1div{
    text-align: center;
    font-size: small;
    margin-top: 5vh;
    width: 100vw;
    border-radius: 10px;
    background: #7289da;
    margin-left: 0;
    padding: 2vh;
    padding-left: 0vw;
    padding-right: 0vw;
}


.match1btn1{
    border-radius: 5px;
    text-align: center;
    color: aliceblue;
    background: #7289da;
}

.match1btn2{
    border-radius: 5px;
    text-align: center;
    color: aliceblue;
    font-size:xx-small;
    background: #7289da;
}

.m1firstscore{
    background: #7289da;
}
.m1firstwickets{
    background: #7289da;
}
.m1firstover{
    background: #7289da;
}

.match1btn3{
    border-radius: 5px;
    text-align: center;
    color: aliceblue;
    background: #7289da;
}

.m1secondscore{
    background: #7289da;
}

.m1secondwickets{
    background: #7289da;
}

.m1secondover{
    background: #7289da;
}

.match1btn4{
    border-radius: 5px;
    text-align: center;
    color: aliceblue;
    background: #7289da;
    font-size:xx-small;
}

.match1btn5{
    border-radius: 5px;
    text-align: center;
    color: aliceblue;
    background: #7289da;
}
.headline1span{
    height: 5vh;
    overflow-y: scroll;

}

.match2div{
    text-align: center;
    font-size: small;
    margin-top: 5vh;
    width: 100vw;
    border-radius: 10px;
    background: #7289da;
    margin-left: 0;
    padding: 2vh;
    padding-left: 0vw;
    padding-right: 0vw;
}

.match2btn1{
    border-radius: 5px;
    text-align: center;
    color: aliceblue;
    background: #7289da;
}

.match2btn2{
    border-radius: 5px;
    text-align: center;
    color: aliceblue;
    background: #7289da;
    font-size:xx-small;
}

.m2firstscore{
    background: #7289da;
}

.m2firstwickets{
    background: #7289da;
}

.m2firstover{
    background: #7289da;
}

.match2btn3{
    border-radius: 5px;
    text-align: center;
    color: aliceblue;
    background: #7289da;
}

.m2secondscore{
    background: #7289da;
}

.m2secondwickets{
    background: #7289da;
}

.m2secondover{
    background: #7289da;
}

.match2btn4{
    border-radius: 5px;
    text-align: center;
    color: aliceblue;
    background: #7289da;
    font-size:xx-small;
}

.match2btn5{
    border-radius: 5px;
    text-align: center;
    color: aliceblue;
    background: #7289da;
}

.headline2span{
    height: 5vh;
    overflow-y: scroll;

}

.match3div{
    text-align: center;
    font-size: small;
    margin-top: 5vh;
    width: 100vw;
    border-radius: 10px;
    background: #7289da;
    margin-left: 0;
    padding: 2vh;
    padding-left: 0vw;
    padding-right: 0vw;
}

.match3btn1{
    border-radius: 5px;
    text-align: center;
    color: aliceblue;
    background: #7289da;
}

.match3btn2{
    border-radius: 5px;
    text-align: center;
    color: aliceblue;
    background: #7289da;
    font-size:xx-small;
}

.m3firstscore{
    background: #7289da;
}

.m3firstwickets{
    background: #7289da;
}

.m3firstover{
    background: #7289da;
}

.match3btn3{
    border-radius: 5px;
    text-align: center;
    color: aliceblue;
    background: #7289da;
}

.m3secondscore{
    background: #7289da;
}

.m3secondwickets{
    background: #7289da;
}

.m3secondover{
    background: #7289da;
}

.match3btn4{
    border-radius: 5px;
    text-align: center;
    color: aliceblue;
    background: #7289da;
    font-size:xx-small;
}

.match3btn5{
    border-radius: 5px;
    text-align: center;
    color: aliceblue;
    background: #7289da;
}

.headline3span{
    height: 5vh;
    overflow-y: scroll;

}

.match4div{
    text-align: center;
    font-size: small;
    margin-top: 5vh;
    width: 100vw;
    border-radius: 10px;
    background: #7289da;
    margin-left: 0;
    padding: 2vh;
    padding-left: 0vw;
    padding-right: 0vw;
}


.match4btn1{
    border-radius: 5px;
    text-align: center;
    color: aliceblue;
    background: #7289da;
}

.match4btn2{
    border-radius: 5px;
    text-align: center;
    color: aliceblue;
    background: #7289da;
    font-size:xx-small;
}

.m4firstscore{
    background: #7289da;
}

.m4firstwickets{
    background: #7289da;
}

.m4firstover{
    background: #7289da;
}

.match4btn3{
    border-radius: 5px;
    text-align: center;
    color: aliceblue;
    background: #7289da;
}

.m4secondscore{
    background: #7289da;
}

.m4secondwickets{
    background: #7289da;
}

.m4secondover{
    background: #7289da;
}

.match4btn4{
    border-radius: 5px;
    text-align: center;
    color: aliceblue;
    background: #7289da;
    font-size:xx-small;
}

.match4btn5{
    border-radius: 5px;
    text-align: center;
    color: aliceblue;
    background: #7289da;
}

.headline4span{
    height: 5vh;
    overflow-y: scroll;

}

.match5div{
    text-align: center;
    font-size: small;
    margin-top: 5vh;
    width: 100vw;
    border-radius: 10px;
    background: #7289da;
    margin-left: 0;
    padding: 2vh;
    padding-left: 0vw;
    padding-right: 0vw;
}


.match5btn1{
    border-radius: 5px;
    text-align: center;
    color: aliceblue;
    background: #7289da;
}

.match5btn2{
    border-radius: 5px;
    text-align: center;
    color: aliceblue;
    background: #7289da;
    font-size:xx-small;
}

.m5firstscore{
    background: #7289da;
}

.m5firstwickets{
    background: #7289da;
}

.m5firstover{
    background: #7289da;
}

.match5btn3{
    border-radius: 5px;
    text-align: center;
    color: aliceblue;
    background: #7289da;
}

.m5secondscore{
    background: #7289da;
}

.m5secondwickets{
    background: #7289da;
}

.m5secondover{
    background: #7289da;
}

.match5btn4{
    border-radius: 5px;
    text-align: center;
    color: aliceblue;
    background: #7289da;
    font-size:xx-small;
}

.match5btn5{
    border-radius: 5px;
    text-align: center;
    color: aliceblue;
    background: #7289da;
}

.headline5span{
    height: 5vh;
    overflow-y: scroll;

}

.match6div{
    text-align: center;
    font-size: small;
    margin-top: 5vh;
    width: 100vw;
    border-radius: 10px;
    background: #7289da;
    margin-left: 0;
    padding: 2vh;
    padding-left: 0vw;
    padding-right: 0vw;
}


.match6btn1{
    border-radius: 5px;
    text-align: center;
    color: aliceblue;
    background: #7289da;
}

.match6btn2{
    border-radius: 5px;
    text-align: center;
    color: aliceblue;
    background: #7289da;
    font-size:xx-small;
}

.m6firstscore{
    background: #7289da;
}

.m6firstwickets{
    background: #7289da;
}

.m6firstover{
    background: #7289da;
}

.match6btn3{
    border-radius: 5px;
    text-align: center;
    color: aliceblue;
    background: #7289da;
}

.m6secondscore{
    background: #7289da;
}

.m6secondwickets{
    background: #7289da;
}

.m6secondover{
    background: #7289da;
}

.match6btn4{
    border-radius: 5px;
    text-align: center;
    color: aliceblue;
    background: #7289da;
    font-size:xx-small;
}

.match6btn5{
    border-radius: 5px;
    text-align: center;
    color: aliceblue;
    background: #7289da;
}

.headline6span{
    height: 5vh;
    overflow-y: scroll;

}

.match7div{
    text-align: center;
    font-size: small;
    margin-top: 5vh;
    width: 100vw;
    border-radius: 10px;
    background: #7289da;
    margin-left: 0;
    padding: 2vh;
    padding-left: 0vw;
    padding-right: 0vw;
}


.match7btn1{
    border-radius: 5px;
    text-align: center;
    color: aliceblue;
    background: #7289da;
}

.match7btn2{
    border-radius: 5px;
    text-align: center;
    color: aliceblue;
    background: #7289da;
    font-size:xx-small;
}

.m7firstscore{
    background: #7289da;
}

.m7firstwickets{
    background: #7289da;
}

.m7firstover{
    background: #7289da;
}

.match7btn3{
    border-radius: 5px;
    text-align: center;
    color: aliceblue;
    background: #7289da;
}

.m7secondscore{
    background: #7289da;
}

.m7secondwickets{
    background: #7289da;
}

.m7secondover{
    background: #7289da;
}

.match7btn4{
    border-radius: 5px;
    text-align: center;
    color: aliceblue;
    background: #7289da;
    font-size:xx-small;
}

.match7btn5{
    border-radius: 5px;
    text-align: center;
    color: aliceblue;
    background: #7289da;
}

.headline7span{
    height: 5vh;
    overflow-y: scroll;

}

.liveMatchBtnDiv{
    margin-top: 1vh;
}

.creators{
    margin-top: 8vh;
    background: #7289da;
}
.dil{
    color: red;
    background: #7289da;
}