@tailwind base;
@tailwind components;
@tailwind utilities;
@font-face {
    font-family: monte;
    src: url(/res/Montserrat.ttf);
}
@font-face {
    font-family: sf;
    src: url(/res/SF-Pro-Text-Regular.otf);
}